In [12]:
import pandas as pd
import os

filenames = os.listdir('./team_stats/')
filenames_stats = filenames[1::2]
filenames_logs = filenames[0::2]

In [61]:
df_log = pd.read_csv(f'./team_stats/{filenames_logs[0]}')
df_log

,Week,Day,Date,Unnamed: 3,Unnamed: 4,OT,Unnamed: 6,Opp,Tm,Opp.1,...,FGA,XPM,XPA,Pnt,Yds.3,3DConv,3DAtt,4DConv,4DAtt,ToP
0,1,Sun,September 11,boxscore,L,NaN,@,Chicago Bears,10,19,...,1,1,1,4,161,8,17,0,2,33:28
1,2,Sun,September 18,boxscore,W,NaN,NaN,Seattle Seahawks,27,7,...,3,3,3,3,132,6,15,2,3,38:20
2,3,Sun,September 25,boxscore,L,NaN,@,Denver Broncos,10,11,...,1,1,1,7,362,1,10,0,0,25:31
3,4,Mon,October 3,boxscore,W,NaN,NaN,Los Angeles Rams,24,9,...,2,3,3,4,158,5,12,0,1,25:26
4,5,Sun,October 9,boxscore,W,NaN,@,Carolina Panthers,37,15,...,2,4,5,2,75,7,12,0,0,30:18
5,6,Sun,October 16,boxscore,L,NaN,@,Atlanta Falcons,14,28,...,0,2,2,3,158,3,8,0,1,26:35
6,7,Sun,October 23,boxscore,L,NaN,NaN,Kansas City Chiefs,23,44,...,3,2,2,1,29,8,14,0,0,33:45
7,8,Sun,October 30,boxscore,W,NaN,@,Los Angeles Rams,31,14,...,1,4,4,3,123,5,9,0,0,29:56
8,10,Sun,November 13,boxscore,W,NaN,NaN,Los Angeles Chargers,22,16,...,3,1,2,4,132,9,17,1,1,36:59
9,11,Mon,November 21,boxscore,W,NaN,@,Arizona Cardinals,38,10,...,1,5,5,4,215,6,11,0,0,29:09
10,12,Sun,November 27,boxscore,W,NaN,NaN,New Orleans Saints,13,0,...,2,1,1,4,175,5,13,1,2,34:50
11,13,Sun,December 4,boxscore,W,NaN,NaN,Miami Dolphins,33,17,...,4,3,3,4,178,8,19,1,2,40:34
12,14,Sun,December 11,boxscore,W,NaN,NaN,Tampa Bay Buccaneers,35,7,...,0,5,5,3,134,4,9,1,2,32:40
13,15,Thu,December 15,boxscore,W,NaN,@,Seattle Seahawks,21,13,...,1,3,3,6,253,6,13,0,0,33:01
14,16,Sat,December 24,boxscore,W,NaN,NaN,Washington Commanders,37,20,...,3,4,4,2,80,4,11,1,2,26:25
15,17,Sun,January 1,boxscore,W,OT,@,Las Vegas Raiders,37,34,...,4,4,4,2,93,4,8,0,0,31:07
16,18,Sun,January 8,boxscore,W,NaN,NaN,Arizona Cardinals,38,13,...,1,5,5,5,218,6,13,0,1,34:14
17,19,Sat,January 14,boxscore,W,NaN,NaN,Seattle Seahawks,41,23,...,4,3,3,1,57,6,11,0,0,32:46

In [56]:
drop_columns_stats = ['Day', 'Date', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 8', 'OT', 'PassY', 'RushY',
        'Opp', 'Tm', 'Opp.1', 'TotYd', ]

In [67]:
drop_columns_logs = [
    'Unnamed: 3', 'Unnamed: 4', 'OT', 'XPM', 'XPA', 'Pnt','Yds.3'
]

In [70]:
rename_dict_logs = {
    'Week':'week',
    'Day':'day',
    'Date':'date',
    'Unnamed: 6':'home_away',
    'Opp':'opponent',
    'Tm':'score_team',
    'Opp.1':'score_opp',
    'Cmp':'pass_cmp_off',
    'Att':'pass_att_off',
    'Yds':'pass_yds_off',
    'TD':'pass_tds_off',
    'Int':'ints_off',
    'Sk':'sacks_off',
    'Yds.1':'sacks_yds_off',
    'Y/A':'pass_yds_per_att',
    'NY/A':'pass_net_yds_per_att',
    'Cmp%':'pass_cmp_prcnt',
    'Rate':'pass_qb_rate',
    'Att.1':'rush_att_off',
    'Yds.2':'rush_yds_off',
    'Y/A.1':'rush_yds_per_att',
    'TD.1':'rush_tds_off',
    'FGM':'fg_made',
    'FGA':'fg_att',
    '3DConv':'3d_made',
    '3DAtt':'3d_att',
    '4DConv':'4d_made',
    '4DAtt':'4d_att',
    'ToP': 'time_poss'
}

In [72]:
df_log_1 = df_log.drop(drop_columns_logs, axis=1)
df_log_1 = df_log_1.rename(columns = rename_dict_logs)
df_log_1.columns

Index(['week', 'day', 'date', 'home_away', 'opponent', 'score_team',
       'score_opp', 'pass_cmp_off', 'pass_att_off', 'pass_yds_off',
       'pass_tds_off', 'ints_off', 'sacks_off', 'sacks_yds_off',
       'pass_yds_per_att', 'pass_net_yds_per_att', 'pass_cmp_prcnt',
       'pass_qb_rate', 'rush_att_off', 'rush_yds_off', 'rush_yds_per_att',
       'rush_tds_off', 'fg_made', 'fg_att', '3d_made', '3d_att', '4d_made',
       '4d_att', 'time_poss'],
      dtype='object')

In [75]:
rename_dict_stats = {
    'Week':'week',
    'Rec':'record',
    '1stD':'1st_down_off',
    'TO':'turnover_off',
    '1stD.1':'1st_down_def',
    'TotYd.1':'tot_yds_def',
    'PassY.1':'pass_yds_def',
    'RushY.1':'rush_yds_def',
    'TO.1':'turnover_def',
    'Offense':'exp_off',
    'Defense':'exp_def',
    'Sp. Tms':'exp_st',
}

In [76]:
def get_trimmed_df(filename, drop_columns, rename_dict):
    team = filename.split('_')[0]
    print(team)
    df = pd.read_csv(f'./team_stats/{filename}')
    df = df.drop(drop_columns, axis=1)
    df = df.rename(columns=rename_dict)
    return df, team

In [77]:
df_49ers_stats, team = get_trimmed_df(filenames_stats[0], drop_columns_stats, rename_dict_stats)

49ers

In [78]:
df_49ers_stats.columns

Index(['week', 'record', '1st_down_off', 'turnover_off', '1st_down_def',
       'tot_yds_def', 'pass_yds_def', 'rush_yds_def', 'turnover_def',
       'exp_off', 'exp_def', 'exp_st'],
      dtype='object')

In [47]:
def combine_trimmed_stats_w_logs(df, team):
    df_logs = pd.read_csv(f'./team_stats/{team}_logs.csv')
    combo_df = pd.concat([df_logs, df], axis=1,)
    return combo_df

In [48]:
df_49ers_combo = combine_trimmed_stats_w_logs(df_49ers_stats, '49ers')

In [55]:
df_49ers_combo

,Week,Day,Date,Unnamed: 3,Unnamed: 4,OT,Unnamed: 6,Opp,Tm,Opp.1,...,1st_down_off,turnover_off,1st_down_def,tot_yds_def,pass_yds_def,rush_yds_def,turnover_def,exp_off,exp_def,exp_st
0,1,Sun,September 11,boxscore,L,NaN,@,Chicago Bears,10,19,...,17,2.0,15,204,105,99,1.0,-11.26,-0.67,0.42
1,2,Sun,September 18,boxscore,W,NaN,NaN,Seattle Seahawks,27,7,...,25,NaN,14,216,180,36,3.0,16.39,9.18,-7.67
2,3,Sun,September 25,boxscore,L,NaN,@,Denver Broncos,10,11,...,13,3.0,14,261,160,101,NaN,-16.39,13.59,-1.26
3,4,Mon,October 3,boxscore,W,NaN,NaN,Los Angeles Rams,24,9,...,13,NaN,21,257,200,57,2.0,10.05,11.56,-7.93
4,5,Sun,October 9,boxscore,W,NaN,@,Carolina Panthers,37,15,...,22,1.0,15,308,244,64,1.0,16.04,13.22,-7.82
5,6,Sun,October 16,boxscore,L,NaN,@,Atlanta Falcons,14,28,...,21,3.0,18,289,121,168,NaN,0.59,-11.56,1.69
6,7,Sun,October 23,boxscore,L,NaN,NaN,Kansas City Chiefs,23,44,...,25,3.0,24,529,417,112,2.0,3.59,-30.58,8.50
7,8,Sun,October 30,boxscore,W,NaN,@,Los Angeles Rams,31,14,...,22,NaN,16,223,167,56,NaN,23.18,-3.37,-2.48
8,10,Sun,November 13,boxscore,W,NaN,NaN,Los Angeles Chargers,22,16,...,22,1.0,12,238,187,51,1.0,6.20,7.29,-5.38
9,11,Mon,November 21,boxscore,W,NaN,@,Arizona Cardinals,38,10,...,21,NaN,19,314,247,67,2.0,20.26,9.44,-1.43
10,12,Sun,November 27,boxscore,W,NaN,NaN,New Orleans Saints,13,0,...,21,NaN,14,260,197,63,2.0,2.05,8.15,2.22
11,13,Sun,December 4,boxscore,W,NaN,NaN,Miami Dolphins,33,17,...,24,1.0,14,308,275,33,4.0,1.78,13.36,1.00
12,14,Sun,December 11,boxscore,W,NaN,NaN,Tampa Bay Buccaneers,35,7,...,24,1.0,18,322,253,69,3.0,18.39,13.41,-0.43
13,15,Thu,December 15,boxscore,W,NaN,@,Seattle Seahawks,21,13,...,15,NaN,16,277,207,70,1.0,9.75,11.24,-8.96
14,16,Sat,December 24,boxscore,W,NaN,NaN,Washington Commanders,37,20,...,14,1.0,21,349,270,79,2.0,9.41,2.45,3.02
15,17,Sun,January 1,boxscore,W,OT,@,Las Vegas Raiders,37,34,...,27,1.0,29,500,365,135,2.0,23.25,-13.83,-6.49
16,18,Sun,January 8,boxscore,W,NaN,NaN,Arizona Cardinals,38,13,...,21,NaN,11,255,194,61,4.0,9.62,15.23,0.80
17,19,Sat,January 14,boxscore,W,NaN,NaN,Seattle Seahawks,41,23,...,24,NaN,22,332,228,104,2.0,27.60,-6.41,-0.62

In [54]:
drop_columns_combo = [
    'Unnamed: 3', 'OT', 'Unnamed: 4',
]
df_49ers_combo.columns

Index(['Week', 'Day', 'Date', 'Unnamed: 3', 'Unnamed: 4', 'OT', 'Unnamed: 6',
       'Opp', 'Tm', 'Opp.1', 'Cmp', 'Att', 'Yds', 'TD', 'Int', 'Sk', 'Yds.1',
       'Y/A', 'NY/A', 'Cmp%', 'Rate', 'Att.1', 'Yds.2', 'Y/A.1', 'TD.1', 'FGM',
       'FGA', 'XPM', 'XPA', 'Pnt', 'Yds.3', '3DConv', '3DAtt', '4DConv',
       '4DAtt', 'ToP', 'week', 'record', '1st_down_off', 'turnover_off',
       '1st_down_def', 'tot_yds_def', 'pass_yds_def', 'rush_yds_def',
       'turnover_def', 'exp_off', 'exp_def', 'exp_st'],
      dtype='object')