In [2]:
import pandas as pd

In [14]:
names = ['twitter_id','date','home','away','week', 'wts_winner','home_points','away_points','spread_line','total_points_line']
data_weekly_2010 = pd.read_csv('./tweets.nfl.2010.weekly.csv', header=None, names=names)

In [19]:
data_weekly_2010.head()
data_weekly_2010_week1 = data_weekly_2010[data_weekly_2010['week']==1]
data_weekly_2010_week1.head()

,twitter_id,date,home,away,week,wts_winner,home_points,away_points,spread_line,total_points_line
0,22662042404,2010-9-01T00:18:50,SEA,SF,1,HOME,31,6,3.0,37.0
1,22662135903,2010-9-01T00:20:06,KC,SD,1,HOME,21,14,5.0,44.5
2,22662138503,2010-9-01T00:20:08,NE,CIN,1,HOME,38,24,-5.5,44.5
3,22662142404,2010-9-01T00:20:11,NYG,CAR,1,HOME,31,18,-6.0,41.0
4,22662225702,2010-9-01T00:21:18,DEN,JAX,1,AWAY,17,24,3.0,41.0