In [2]:
import pandas as pd
import numpy as np

### Code to combine two sentiment fragment csvs

In [110]:
# df_most = pd.read_csv('../team_data/all_tweets_sentiment.csv', engine='python')
# df_last = pd.read_csv('../team_data/all_tweets_sentiment_2.csv', engine='python')
# df_all = pd.concat([df_most, df_last], ignore_index=True)
# df_all = df_all.drop(['index'], axis=1).set_index(['week','team'])
# df_all

In [3]:
df_all = pd.read_csv('../team_data/all_sentiment_combined.csv')
df_all = df_all.set_index(['week','team'])
df_all

                              timestamp  \
week team
12   49ers    2022-11-27 20:24:43+00:00
     49ers    2022-11-27 20:24:42+00:00
     49ers    2022-11-27 20:24:03+00:00
     49ers    2022-11-27 20:23:47+00:00
     49ers    2022-11-27 20:23:38+00:00
...                                 ...
19   vikings  2023-01-11 20:33:58+00:00
     vikings  2023-01-11 20:32:47+00:00
     vikings  2023-01-11 20:32:00+00:00
     vikings  2023-01-11 20:31:00+00:00
     vikings  2023-01-11 20:30:00+00:00

                                                     tweet_text  \
week team
12   49ers        1hr til kick off. Let‚Äôs Go Niners!! #fttb ‚ù§Ô∏èüíõ
     49ers    Big test today for Jimmy Garoppolo and the #49...
     49ers    #49ers have held three straight opponents scor...
     49ers                @49erHodge Hell yea GO NINERS ü§ò #FTTB
     49ers    #49ers are seeking their first 4-game regular-...
...                                                         ...
19   vikings  @heykayadams @UpAndAdamsShow @kgxix @Young_Sla...
     vikings  Here‚Äôs the first #Giants injury report for the...
     vikings  22 Things the 2022 Regular Season Revealed Abo...
     vikings  Cook on The Running Game Heading Into Sunday: ...
     vikings  What would be better than a #Vikings win this ...

                           userid     label     score
week team
12   49ers    1404574279811878913  positive  0.983667
     49ers               38617573   neutral  0.865918
     49ers               38617573   neutral  0.501523
     49ers              601772815  positive  0.939245
     49ers               38617573   neutral  0.511218
...                           ...       ...       ...
19   vikings  1422946127750606853   neutral  0.587164
     vikings           1561574120   neutral  0.929358
     vikings           3035196396   neutral  0.879593
     vikings           3035196396   neutral  0.539383
     vikings             27704087  positive  0.961381

[645042 rows x 5 columns]

### Check for NaN values

In [4]:
count_nan = df_all['tweet_text'].isnull()
nan_index = np.where(count_nan)[0].tolist()
df_all.iloc[nan_index]

Empty DataFrame
Columns: [timestamp, tweet_text, userid, label, score]
Index: []

### get tuples of week team combinations

In [5]:
# wks = df_all.index.unique(level=0)
# tms = df_all.index.unique(level=1)
wks_teams = df_all.index.unique()
wks_teams[12]

(12, 'eagles')

In [6]:

def get_df_wk_team(df, wk, team):
    return df.xs((wk,team), level=[0,1])


def get_sentiment_counts(df):
    counts = df['label'].value_counts(sort=False)
    counts_dict = counts_to_dict(counts)
    return counts_dict

def counts_to_dict(counts):
    # print(counts)
    count_dict = {
        'neutral': counts['neutral'],
        'positive': counts['positive'],
        'negative': counts['negative']
    }
    return count_dict

def get_game_time(df):
    df = df.sort_values(['timestamp'], ascending=False)
    return df.iloc[0,0]

def get_24hr_df(df):
    df1 = df.copy()
    df1['timestamp'] = pd.to_datetime(df['timestamp'], format = '%Y-%m-%d %H:%M:%S.%f')
    game_time = get_game_time(df1)
    # return game_time
    game_time_24 = game_time - pd.to_timedelta('24:00:00')
    return df1.loc[(df1['timestamp'] >= game_time_24) & (df1['timestamp'] <= game_time)]


df_bears = get_df_wk_team(df_all, 12, 'bears')
df_bears
get_24hr_df(df_bears)

                           timestamp  \
week team
12   bears 2022-11-27 16:58:58+00:00
     bears 2022-11-27 16:58:31+00:00
     bears 2022-11-27 16:57:45+00:00
     bears 2022-11-27 16:55:18+00:00
     bears 2022-11-27 16:54:32+00:00
...                              ...
     bears 2022-11-26 17:04:46+00:00
     bears 2022-11-26 17:04:10+00:00
     bears 2022-11-26 17:02:05+00:00
     bears 2022-11-26 16:59:41+00:00
     bears 2022-11-26 16:59:41+00:00

                                                   tweet_text  \
week team
12   bears  For the rest of the season, lol. #DaBears #BEA...
     bears  üö®BREAKING NEWS: Justin Fields is officially ou...
     bears  #Jets RB James Robinson is a healthy inactive ...
     bears  AdamRonis: Justin Fields is inactive for the #...
     bears  Now- my subscription is 7,77 cause I like itüí¶ ...
...                                                       ...
     bears  Yeah, Duh! Water is wet too! ‚Äî-&gt; Robert Sal...
     bears  Which game Ryan Poles at to start the day‚Ä¶. #D...
     bears  Week 12 Fantasy Busts: Justin Fields, Cam Aker...
     bears  ICYMI: Vegas odds for #Bears-Jets https://t.co...
     bears  ICYMI: Vegas odds for #Bears-Jets https://t.co...

                         userid     label     score
week team
12   bears   718550336575815680   neutral  0.606939
     bears  1100098670324838403   neutral  0.496972
     bears  1395552062650437635   neutral  0.887163
     bears             11221412   neutral  0.829782
     bears  1239072082077667328  positive  0.848296
...                         ...       ...       ...
     bears           2826875847   neutral  0.560948
     bears             21418293   neutral  0.884996
     bears           3013919629  negative  0.530575
     bears  1283164327181197314   neutral  0.954360
     bears  1042787770081714177   neutral  0.954360

[839 rows x 5 columns]

In [7]:
def get_sentiment_counts_team_wk(df):
    sentiment_stats = []
    for data in wks_teams:
        week = data[0]
        team = data[1]

        team_df = get_df_wk_team(df, week, team)
        team_24_df = get_24hr_df(team_df)
        sentiment_counts_96 = get_sentiment_counts(team_df)
        sentiment_counts_24 = get_sentiment_counts(team_24_df)

        sentiment_stats.append({
            'team': data[1],
            'week': data[0],
            'positive96': sentiment_counts_96['positive'],
            'positive24': sentiment_counts_24['positive'],
            'neutral96': sentiment_counts_96['neutral'],
            'neutral24': sentiment_counts_24['neutral'],
            'negative96': sentiment_counts_96['negative'],
            'negative24': sentiment_counts_24['negative']
        })
    return sentiment_stats

all_sentiment_counts = get_sentiment_counts_team_wk(df_all)

In [8]:
all_sent_df = pd.DataFrame.from_dict(all_sentiment_counts).set_index(['week','team'])
# all_sent_df['sum'] = all_sent_df[list(all_sent_df.columns)].sum(axis=1)
all_sent_df

               positive96  positive24  neutral96  neutral24  negative96  \
week team
12   49ers           1165         449       1368        445         216
     bears            563         204       1531        548         251
     bengals          885         340       1098        422          96
     broncos          671         197        804        241         134
     browns           878         356       1315        527         423
...                   ...         ...        ...        ...         ...
19   giants          3100        1504       2097        683         403
     jaguars         2370        1238       2429       1102         372
     ravens           283          86        793        227         194
     seahawks        1372         820       1596        741         253
     vikings         4033        1903       2951       1173         713

               negative24
week team
12   49ers             90
     bears             87
     bengals           43
     broncos           42
     browns           195
...                   ...
19   giants           144
     jaguars          140
     ravens            47
     seahawks         141
     vikings          354

[215 rows x 6 columns]

In [9]:
all_sent_df['sentiment_96h'] = (
    all_sent_df['positive96'] - all_sent_df['negative96']
    ) / (
        all_sent_df['positive96'] + all_sent_df['negative96'] + all_sent_df['neutral96']
    )
all_sent_df['sentiment_24h'] = (
    all_sent_df['positive24'] - all_sent_df['negative24']
    ) / (
        all_sent_df['positive24'] + all_sent_df['negative24'] + all_sent_df['neutral24']
    )
all_sent_df['swing'] = (all_sent_df['sentiment_24h'] - all_sent_df['sentiment_96h'])
# all_sent_df['swing'] = round(all_sent_df['swing']*100,2)
all_sent_df

               positive96  positive24  neutral96  neutral24  negative96  \
week team
12   49ers           1165         449       1368        445         216
     bears            563         204       1531        548         251
     bengals          885         340       1098        422          96
     broncos          671         197        804        241         134
     browns           878         356       1315        527         423
...                   ...         ...        ...        ...         ...
19   giants          3100        1504       2097        683         403
     jaguars         2370        1238       2429       1102         372
     ravens           283          86        793        227         194
     seahawks        1372         820       1596        741         253
     vikings         4033        1903       2951       1173         713

               negative24  sentiment_96h  sentiment_24h     swing
week team
12   49ers             90       0.345216       0.364837  0.019621
     bears             87       0.133049       0.139452  0.006403
     bengals           43       0.379509       0.368944 -0.010565
     broncos           42       0.333748       0.322917 -0.010831
     browns           195       0.173930       0.149351 -0.024579
...                   ...            ...            ...       ...
19   giants           144       0.481607       0.583441  0.101833
     jaguars          140       0.386386       0.442742  0.056356
     ravens            47       0.070079       0.108333  0.038255
     seahawks         141       0.347408       0.398942  0.051535
     vikings          354       0.431337       0.451603  0.020267

[215 rows x 9 columns]

In [10]:
all_sent_df.xs((12,'49ers'), level=[0,1]).iloc[:, -3 :].values[0]

array([0.34521644, 0.3648374 , 0.01962096])

### Add Sentiment Values to Team Game Stats

In [12]:
wks_teams[:3]

MultiIndex([(12,   '49ers'),
            (12,   'bears'),
            (12, 'bengals')],
           names=['week', 'team'])

In [13]:
df_12 = pd.read_csv('../game_stats/wk_12_game_stats_clean.csv')

In [58]:

empty_record = {
    'away_positive96': np.nan,
    'away_positive24': np.nan,
    'away_neutral96': np.nan,
    'away_neutral24': np.nan,
    'away_negative96': np.nan,
    'away_negative24': np.nan,
    'away_sentiment_96h': np.nan,
    'away_sentiment_24h': np.nan,
    'away_swing': np.nan,
    'home_positive96': np.nan,
    'home_positive24': np.nan,
    'home_neutral96': np.nan,
    'home_neutral24': np.nan,
    'home_negative96': np.nan,
    'home_negative24': np.nan,
    'home_sentiment_96h': np.nan,
    'home_sentiment_24h': np.nan,
    'home_swing': np.nan,
}


columns_away = {
    'positive96': 'away_positive96',
    'positive24': 'away_positive24',
    'neutral96': 'away_neutral96',
    'neutral24': 'away_neutral24',
    'negative96': 'away_negative96',
    'negative24': 'away_negative24',
    'sentiment_96h': 'away_sentiment_96h',
    'sentiment_24h': 'away_sentiment_24h',
    'swing': 'away_swing',
}


columns_home = {
    'positive96': 'home_positive96',
    'positive24': 'home_positive24',
    'neutral96': 'home_neutral96',
    'neutral24': 'home_neutral24',
    'negative96': 'home_negative96',
    'negative24': 'home_negative24',
    'sentiment_96h': 'home_sentiment_96h',
    'sentiment_24h': 'home_sentiment_24h',
    'swing': 'home_swing',
}

def change_keys(dictionary, home_away):
    for key in dictionary.keys():
        print(key)


def get_week_sentiment(wk, sent_df):
    df_wk = pd.read_csv(f'../game_stats/wk_{wk}_game_stats_clean.csv')
    all_records = []
    for row in df_wk.itertuples():
        home_team = row.home
        away_team = row.away
        
        print('Home', home_team, '\t Away: ', away_team)

        home_df = all_sent_df.xs((wk,home_team), level=[0,1])
        home_df = home_df.rename(columns=columns_home)
        home_records = home_df.to_dict('records')

        away_df = all_sent_df.xs((wk,away_team), level=[0,1])
        away_df = away_df.rename(columns=columns_away)
        away_records = away_df.to_dict('records')

        if home_records == [] or away_records == []:
            all_records.append(empty_record)
        else: 
            records = {**home_records[0], **away_records[0]}
            all_records.append(records)
    records_df = pd.DataFrame.from_dict(all_records)
    new_wk = pd.concat([df_wk.iloc[:, :7], records_df], axis = 1)   
    new_wk.to_csv(f'../game_stats/wk_{wk}_sentstats.csv')
    return new_wk
        
        
# df_12 = pd.read_csv(f'../game_stats/wk_{12}_sentstats_clean.csv')
# df_12.iloc[:, :7]
# df_12.columns
get_week_sentiment(12, all_sent_df)

Home lions 	 Away:  bills
Home cowboys 	 Away:  giants
Home vikings 	 Away:  patriots
Home titans 	 Away:  bengals
Home browns 	 Away:  buccaneers
Home dolphins 	 Away:  texans
Home jaguars 	 Away:  ravens
Home commanders 	 Away:  falcons
Home panthers 	 Away:  broncos
Home jets 	 Away:  bears
Home seahawks 	 Away:  raiders
Home cardinals 	 Away:  chargers
Home chiefs 	 Away:  rams
Home 49ers 	 Away:  saints
Home eagles 	 Away:  packers
Home colts 	 Away:  steelers

,Week,Day,Date,home,away,home_score,away_score,away_positive96,away_positive24,away_neutral96,...,away_swing,home_positive96,home_positive24,home_neutral96,home_neutral24,home_negative96,home_negative24,home_sentiment_96h,home_sentiment_24h,home_swing
0,12,Thu,2022-11-24,lions,bills,25,28,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12,Thu,2022-11-24,cowboys,giants,28,20,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,Thu,2022-11-24,vikings,patriots,33,26,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12,Sun,2022-11-27,titans,bengals,16,20,885.0,340.0,1098.0,...,-0.010565,472.0,187.0,865.0,286.0,147.0,56.0,0.219003,0.247637,0.028634
4,12,Sun,2022-11-27,browns,buccaneers,23,17,469.0,186.0,701.0,...,0.021515,878.0,356.0,1315.0,527.0,423.0,195.0,0.173930,0.149351,-0.024579
5,12,Sun,2022-11-27,dolphins,texans,30,15,390.0,129.0,753.0,...,0.056979,2795.0,1019.0,1130.0,365.0,277.0,66.0,0.599238,0.657241,0.058003
6,12,Sun,2022-11-27,jaguars,ravens,28,27,12617.0,12617.0,20138.0,...,0.000000,218.0,79.0,420.0,127.0,73.0,12.0,0.203938,0.307339,0.103401
7,12,Sun,2022-11-27,commanders,falcons,19,13,239.0,80.0,600.0,...,-0.014771,609.0,262.0,766.0,311.0,185.0,82.0,0.271795,0.274809,0.003014
8,12,Sun,2022-11-27,panthers,broncos,23,10,671.0,197.0,804.0,...,-0.010831,114.0,38.0,238.0,58.0,32.0,9.0,0.213542,0.276190,0.062649
9,12,Sun,2022-11-27,jets,bears,31,10,563.0,204.0,1531.0,...,0.006403,908.0,295.0,1967.0,538.0,498.0,118.0,0.121554,0.186120,0.064566
10,12,Sun,2022-11-27,seahawks,raiders,34,40,1031.0,337.0,1318.0,...,-0.029332,373.0,157.0,618.0,226.0,41.0,16.0,0.321705,0.353383,0.031678
11,12,Sun,2022-11-27,cardinals,chargers,24,25,417.0,137.0,580.0,...,0.040073,61.0,27.0,238.0,67.0,16.0,1.0,0.142857,0.273684,0.130827
12,12,Sun,2022-11-27,chiefs,rams,26,10,236.0,80.0,862.0,...,0.019397,1184.0,488.0,1216.0,416.0,172.0,59.0,0.393468,0.445483,0.052015
13,12,Sun,2022-11-27,49ers,saints,13,0,287.0,126.0,808.0,...,0.063280,1165.0,449.0,1368.0,445.0,216.0,90.0,0.345216,0.364837,0.019621
14,12,Sun,2022-11-27,eagles,packers,40,33,1056.0,500.0,1525.0,...,0.052952,2038.0,847.0,1244.0,396.0,307.0,99.0,0.482307,0.557377,0.075070
15,12,Mon,2022-11-28,colts,steelers,17,24,1398.0,591.0,1900.0,...,0.105846,596.0,352.0,1173.0,610.0,107.0,42.0,0.260661,0.308765,0.048104

In [60]:
for i in range(13,20,1):
    print(i)
    get_week_sentiment(i, all_sent_df)

13
Home patriots 	 Away:  bills
Home texans 	 Away:  browns
Home ravens 	 Away:  broncos
Home lions 	 Away:  jaguars
Home vikings 	 Away:  jets
Home giants 	 Away:  commanders
Home eagles 	 Away:  titans
Home falcons 	 Away:  steelers
Home bears 	 Away:  packers
Home 49ers 	 Away:  dolphins
Home rams 	 Away:  seahawks
Home bengals 	 Away:  chiefs
Home raiders 	 Away:  chargers
Home cowboys 	 Away:  colts
Home buccaneers 	 Away:  saints
14
Home rams 	 Away:  raiders
Home bills 	 Away:  jets
Home bengals 	 Away:  browns
Home cowboys 	 Away:  texans
Home lions 	 Away:  vikings
Home titans 	 Away:  jaguars
Home giants 	 Away:  eagles
Home steelers 	 Away:  ravens
Home broncos 	 Away:  chiefs
Home seahawks 	 Away:  panthers
Home 49ers 	 Away:  buccaneers
Home chargers 	 Away:  dolphins
Home cardinals 	 Away:  patriots
15
Home seahawks 	 Away:  49ers
Home vikings 	 Away:  colts
Home browns 	 Away:  ravens
Home bills 	 Away:  dolphins
Home saints 	 Away:  falcons
Home panthers 	 Away:  steelers
Home bears 	 Away:  eagles
Home jaguars 	 Away:  cowboys
Home jets 	 Away:  lions
Home texans 	 Away:  chiefs
Home commanders 	 Away:  giants
Home broncos 	 Away:  cardinals
Home buccaneers 	 Away:  bengals
Home chargers 	 Away:  titans
Home raiders 	 Away:  patriots
Home packers 	 Away:  rams
16
Home jets 	 Away:  jaguars
Home bears 	 Away:  bills
Home ravens 	 Away:  falcons
Home chiefs 	 Away:  seahawks
Home vikings 	 Away:  giants
Home browns 	 Away:  saints
Home patriots 	 Away:  bengals
Home titans 	 Away:  texans
Home panthers 	 Away:  lions
Home 49ers 	 Away:  commanders
Home cowboys 	 Away:  eagles
Home steelers 	 Away:  raiders
Home dolphins 	 Away:  packers
Home rams 	 Away:  broncos
Home cardinals 	 Away:  buccaneers
Home colts 	 Away:  chargers
17
Home titans 	 Away:  cowboys
Home buccaneers 	 Away:  panthers
Home ravens 	 Away:  steelers
Home eagles 	 Away:  saints
Home patriots 	 Away:  dolphins
Home texans 	 Away:  jaguars
Home chiefs 	 Away:  broncos
Home giants 	 Away:  colts
Home commanders 	 Away:  browns
Home lions 	 Away:  bears
Home falcons 	 Away:  cardinals
Home raiders 	 Away:  49ers
Home seahawks 	 Away:  jets
Home packers 	 Away:  vikings
Home chargers 	 Away:  rams
18
Home raiders 	 Away:  chiefs
Home jaguars 	 Away:  titans
Home bills 	 Away:  patriots
Home bengals 	 Away:  ravens
Home falcons 	 Away:  buccaneers
Home saints 	 Away:  panthers
Home bears 	 Away:  vikings
Home steelers 	 Away:  browns
Home colts 	 Away:  texans
Home dolphins 	 Away:  jets
Home 49ers 	 Away:  cardinals
Home commanders 	 Away:  cowboys
Home broncos 	 Away:  chargers
Home eagles 	 Away:  giants
Home seahawks 	 Away:  rams
Home packers 	 Away:  lions
19
Home 49ers 	 Away:  seahawks
Home jaguars 	 Away:  chargers
Home bills 	 Away:  dolphins
Home vikings 	 Away:  giants
Home bengals 	 Away:  ravens
Home buccaneers 	 Away:  cowboys